<div class="mb-0 d-flex">
  <div class="col-lg-6 col-10 p-0">
    <div class="nav nav-tabs mb-0 p-0" *ngIf="rute2[2]!='edit' && rute2[2]!='new'">
      <li class="nav-item" >
        <a class="nav-link" aria-current="page" routerLink="/devices" [ngClass]="{'active': this.rute=='/devices'}">{{ 'sensors.t1' | translate }}</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" routerLink="/sensors" [ngClass]="{'active': this.rute=='/sensors'}">{{ 'sensors.t2' | translate }}</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" routerLink="/estructure" [ngClass]="{'active': this.rute=='/estructure'}">{{ 'sensors.t3' | translate }}</a>
      </li>
    </div>
    <div class="nav nav-tabs mb-0 p-0" *ngIf="rute2[2]=='edit' || rute2[2]=='new'">
      <li class="nav-item" >
        <a class="nav-link me-3">&nbsp;</a>
      </li>
    </div>
  </div>
	<div class="col-lg-6 col-2 p-0 pt-2">
    <div class="d-flex" style="justify-content: flex-end;">
      <div class="pe-3">
        <select  (ngModelChange)="changeLenguaje()" class="form-select" aria-label="Default select example" id="sel_type" [(ngModel)]="activeLang">
          <ng-container *ngFor="let quote of this.leng_lang; let i = index">
            <option value='{{quote}}' [ngClass]="{'selected': activeLang == quote}" >{{this.leng_name[i]}}</option>
          </ng-container>
        </select>
      </div>
      <div class="d-none d-xl-inline pe-3">
        <div class="d-flex justify-content-end">
          <img src="../../assets/logo.png" width="350px">
        </div>
      </div>
    </div>
  </div>
</div>