<div class="mb-0 d-flex">
	<div class="col-lg-5 col-12 p-0">
		<div class="nav nav-tabs mb-0 p-0 me-0" *ngIf="token!='' && (this.ruteAux[1]=='devices' || this.ruteAux[1]=='sensors' || this.ruteAux[1]=='structure' || this.ruteAux[1]=='variable-structure') && ruteAux[2]!='edit' && ruteAux[2]!='new' && ruteAux[2]!='duplicate'">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="/devices" [ngClass]="{'active': this.rute=='/devices'}">{{ 'sensors.t1' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/sensors" [ngClass]="{'active': this.rute=='/sensors'}">{{ 'sensors.t2' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/structure" [ngClass]="{'active': this.rute=='/structure'}">{{ 'sensors.t3' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/variable-structure" [ngClass]="{'active': this.rute=='/variable-structure'}">{{ 'variable_data_structure' | translate }}</a>
			</li>
		</div>
		<div class="nav nav-tabs mb-0 p-0" *ngIf="token!='' && (this.ruteAux[1]=='users' || this.ruteAux[1]=='conecction-read' || this.ruteAux[1]=='conecction-write' || this.ruteAux[1]=='script' || this.ruteAux[1]=='monitoring') && ruteAux[2]!='edit' && ruteAux[2]!='new' && ruteAux[2]!='duplicate'">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="/users" [ngClass]="{'active': this.rute=='/users'}">{{ 'users' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/conecction-read" [ngClass]="{'active': this.rute=='/conecction-read'}">{{ 'conecction-read' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/conecction-wite" [ngClass]="{'active': this.rute=='/conecction-wite'}">{{ 'conecction-wite' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/script" [ngClass]="{'active': this.rute=='/script'}">{{ 'script' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/monitoring" [ngClass]="{'active': this.rute=='/monitoring'}">{{ 'monitoring' | translate }}</a>
			</li>
		</div>
		<div class="nav nav-tabs mb-0 p-0" *ngIf="ruteAux[2]=='edit' || ruteAux[2]=='new' || ruteAux[2]=='duplicate'">
			<li class="nav-item">
				<a class="nav-link me-3">&nbsp;</a>
			</li>
		</div>
	</div>
	<div class="col-lg-7 col-12 p-0 pt-2">
		<div class="d-flex" style="justify-content: flex-end;">
			<div *ngIf="token !== ''" class="pe-3">
				<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
					<input type="radio" class="btn-check visually-hidden" name="btnradio" id="btnradio2" autocomplete="off" >
					<label class="btn btn-secondary" for="btnradio2" routerLink="/devices" [ngStyle]="{ 'background-color': ruteAux[1]=='devices' || ruteAux[1]=='sensors' || ruteAux[1]=='structure' || ruteAux[1]=='variable-structure' ? '#565e64' : '' }">{{ 'management' | translate }}</label>
					
					<input type="radio" class="btn-check visually-hidden" name="btnradio" id="btnradio1" autocomplete="off" >
					<label class="btn btn-secondary" for="btnradio1" routerLink="/users" [ngStyle]="{ 'background-color': ruteAux[1]=='users' || ruteAux[1]=='conecction-read' || ruteAux[1]=='conecction-write' || ruteAux[1]=='script' || ruteAux[1]=='monitoring' ? '#565e64' : '' }">{{ 'settings' | translate }}</label>
				</div>
			</div>		
			<div *ngIf="token !== ''" class="pe-3">
				<span class="badge rounded-pill text-bg-success">Activado</span>
				<span class="badge rounded-pill text-bg-danger">Desactivado</span>
			</div>	
			<div class="pe-3">
				<select style="min-width: 100px;" (change)="changeLanguage()" class="form-select" aria-label="Default select example" id="sel_type" [(ngModel)]="activeLang">
					<ng-container *ngFor="let quote of this.lengLang; let i = index">
						<option value='{{quote}}' [ngClass]="{'selected': activeLang == quote}" >{{this.lengName[i]}}</option>
					</ng-container>
				</select>
			</div>	
			<div class="pe-3" *ngIf="token!=''" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
				<button *ngIf="alerts" type="button" class="btn btn-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
						<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"></path>
					</svg>
				</button>
				<button *ngIf="!alerts" type="button" class="btn btn-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
						<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"></path>
					</svg>
				</button>
			</div>	
			<div *ngIf="token!=''" class="pe-3">
				<div class="dropdown">
					<button class="btn btn-white rounded-circle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						<span>{{ username.substr(0,1) }}</span>
					</button>
					<ul class="dropdown-menu cursor-pointer" aria-labelledby="dropdownMenuButton" style="z-index: 1000000">
					  <li><a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal3">{{ 'edit.profile' | translate }}</a></li>
					  <li><a #openModalButton class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal2">{{ 'edit.change' | translate }}</a></li>
					  <li><a class="dropdown-item cursor-pointer" (click)="logOut()">{{ 'log.out' | translate }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div  class="modal fade" #confirmDeleteModal2 id="confirmDeleteModal2" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteModal2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content pb-0">
            <div class="modal-header" style="border-bottom: 0px">
				<h2 class="mb-0">{{ 'edit.change' | translate }}</h2>
				<button *ngIf="!this.change_password" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0">
			<form #form="ngForm" class="row needs-validation p-3 pt-1">
				<div class="col-12">
					<div class="row" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
		
						<input (ngModelChange)="change1=true" value="{{ formapassword.id }}" [(ngModel)]="formapassword['id']" maxlength="45" type="text" id="type" class="form-control d-none" name="type">

						<div class="col-12 pt-2 form-group">
							<label for="password">{{ 'login.pass' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.password }}" [(ngModel)]="formapassword['password']" maxlength="45" minlength="8" type="password" id="password" class="form-control" name="password" required>
							<div *ngIf="form.submitted && form.controls['password'].errors" class="text-danger">
								<div *ngIf="form.controls['password'].errors['required']">{{ 'password' | translate }} {{ 'required' | translate }}</div>
								<div *ngIf="form.controls['password'].errors['minlength']">{{ 'min_length' | translate }}</div>
								<div *ngIf="form.controls['password'].value && !form.controls['password'].value.match(passwordPattern)">
									{{ 'complexity' | translate }}
								</div>		
							</div>							
						</div>
	
						<div class="col-12 mt-4">
							<label for="newpassword1">{{ 'login.pass2' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.newpassword1 }}" [(ngModel)]="formapassword['newpassword1']" maxlength="45" minlength="8" type="password" id="newpassword1" class="form-control" name="newpassword1" required>
							<div *ngIf="form.submitted && form.controls['newpassword1'].errors" class="text-danger">
								<div *ngIf="form.controls['newpassword1'].errors['required']">{{ 'password' | translate }} {{ 'required' | translate }}</div>
								<div *ngIf="form.controls['newpassword1'].errors['minlength']">{{ 'min_length' | translate }}</div>
								<div *ngIf="form.controls['newpassword1'].value && !form.controls['newpassword1'].value.match(passwordPattern)">
									{{ 'complexity' | translate }}
								</div>		
							</div>
						</div>

						<div class="col-12 mt-2">
							<label for="newpassword2">{{ 'login.pass2' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.newpassword2 }}" [(ngModel)]="formapassword['newpassword2']" maxlength="45" minlength="8" type="password" id="newpassword2" class="form-control" name="newpassword2" required>
							<div *ngIf="form.submitted && form.controls['newpassword2'].errors" class="text-danger">
								<div *ngIf="form.controls['newpassword2'].errors['required']">{{ 'password' | translate }} {{ 'required' | translate }}</div>
								<div *ngIf="form.controls['newpassword2'].errors['minlength']">{{ 'min_length' | translate }}</div>
								<div *ngIf="form.controls['newpassword2'].value && !form.controls['newpassword2'].value.match(passwordPattern)">
									{{ 'complexity' | translate }}
								</div>		
							</div>
						</div>
	
					</div>
				</div>

				<div class="col-12 mt-3 pt-3">
					<div class="row" >
						<div *ngIf="!this.change_password" class="col-6">
							<button #clouseModalButton type="button navb" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary text-light navb"  style="width: 100%">{{ 'sensors.exit' | translate }}</button>
						</div>
						<div [ngClass]="{'col-12': change_password, 'col-6': !change_password}">
							<button (click)="changePassword(form)" ng-click="ocultar = true" type="button navb submit" class="btn btn-info navb me-3" style="width: 100%">{{ 'sensors.save' | translate }}</button>
						</div>
					</div>
				</div>
			</form>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" #confirmDeleteModal3 id="confirmDeleteModal3" tabindex="-1" aria-labelledby="confirmDeleteModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-0">
            <div class="modal-header" style="border-bottom: 0px">
				<h2 class="mb-0">{{ 'edit.profile' | translate }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0">
			<form #form="ngForm" class="row needs-validation p-3 pt-1">
				<div class="col-12">
					<div class="row" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
		
						<input (ngModelChange)="change1=true" value="{{ formuserdata.id }}" [(ngModel)]="formuserdata['id']" maxlength="45" type="text" id="type" class="form-control d-none" name="type">

						<div class="col-12 pt-2 form-group">
							<label for="type">{{ 'login.user' | translate }}</label>
							<input (ngModelChange)="change2=true" value="{{ formuserdata.email }}" [(ngModel)]="formuserdata['email']" maxlength="45" type="email" id="type" class="form-control" name="type" required>
							<div *ngIf="form.submitted && form.controls['type'].errors" class="text-danger">
								<div *ngIf="form.controls['type'].errors['required']">{{ 'sensors.type' | translate }} {{ 'required' | translate }}</div>
							</div>
						</div>
	
					</div>
				</div>
	
				<div class="col-12 mt-3 pt-3">
					<div class="row" >
						<div class="col-6">
							<button type="button navb" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary text-light navb"  style="width: 100%">{{ 'sensors.exit' | translate }}</button>
						</div>
						<div class="col-6">
							<button (click)="changeEmail(form)" ng-click="ocultar = true" type="button navb submit" class="btn btn-info navb me-3" style="width: 100%">{{ 'sensors.save' | translate }}</button>
						</div>
					</div>
				</div>
			</form>
          </div>
        </div>
    </div>
</div>

<div *ngIf="alertEmailOk" class="top-0 start-0 p-2 pt-2 ps-3" style="position: absolute;">
	<div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a1' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertEmailNot" class="top-0 start-0 p-2 pt-2 ps-3"  style="position: absolute;">
	<div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a2' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertPassOk" class="top-0 start-0 p-2 pt-2 ps-3"  style="position: absolute;">
	<div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a3' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertPassNot" class="top-0 start-0 p-2 pt-2 ps-3"  style="position: absolute;">
	<div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a4' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Alertas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

	<div class="toast-container position-static">
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		  <div class="toast-header">
			<img src="..." class="rounded me-2" alt="...">
			<strong class="me-auto">Bootstrap</strong>
			<small class="text-body-secondary">just now</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		  <div class="toast-body">
			See? Just like this.
		  </div>
		</div>
	  
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		  <div class="toast-header">
			<img src="..." class="rounded me-2" alt="...">
			<strong class="me-auto">Bootstrap</strong>
			<small class="text-body-secondary">2 seconds ago</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		  <div class="toast-body">
			Heads up, toasts will stack automatically
		  </div>
		</div>
	  </div>

  </div>
</div>