<div class="mb-0 d-flex">
	<div class="col-lg-6 col-6 p-0">
		<div class="nav nav-tabs mb-0 p-0" *ngIf="token!='' && (this.ruteAux[1]=='devices' || this.ruteAux[1]=='sensors' || this.ruteAux[1]=='structure' || this.ruteAux[1]=='variable-structure') && ruteAux[2]!='edit' && ruteAux[2]!='new' && ruteAux[2]!='duplicate'">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="/devices" [ngClass]="{'active': this.rute=='/devices'}">{{ 'sensors.t1' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/sensors" [ngClass]="{'active': this.rute=='/sensors'}">{{ 'sensors.t2' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/structure" [ngClass]="{'active': this.rute=='/structure'}">{{ 'sensors.t3' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/variable-structure" [ngClass]="{'active': this.rute=='/variable-structure'}">{{ 'variable_data_structure' | translate }}</a>
			</li>
		</div>
		<div class="nav nav-tabs mb-0 p-0" *ngIf="token!='' && (this.ruteAux[1]=='users' || this.ruteAux[1]=='credentials' || this.ruteAux[1]=='script' || this.ruteAux[1]=='monitoring') && ruteAux[2]!='edit' && ruteAux[2]!='new' && ruteAux[2]!='duplicate'">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="/users" [ngClass]="{'active': this.rute=='/users'}">{{ 'users' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/credentials" [ngClass]="{'active': this.rute=='/credentials'}">{{ 'credentials' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/script" [ngClass]="{'active': this.rute=='/script'}">{{ 'script' | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" routerLink="/monitoring" [ngClass]="{'active': this.rute=='/monitoring'}">{{ 'monitoring' | translate }}</a>
			</li>
		</div>
		<div class="nav nav-tabs mb-0 p-0" *ngIf="ruteAux[2]=='edit' || ruteAux[2]=='new' || ruteAux[2]=='duplicate'">
			<li class="nav-item">
				<a class="nav-link me-3">&nbsp;</a>
			</li>
		</div>
	</div>
	<div class="col-lg-6 col-6 p-0 pt-2">
		<div class="d-flex" style="justify-content: flex-end;">
			<div *ngIf="token !== ''" class="pe-3">
				<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
					<input type="radio" class="btn-check visually-hidden" name="btnradio" id="btnradio1" autocomplete="off" checked>
					<label class="btn btn-secondary border-0" for="btnradio1" routerLink="/devices">{{ 'management' | translate }}</label>
				  
					<input type="radio" class="btn-check visually-hidden" name="btnradio" id="btnradio2" autocomplete="off">
					<label class="btn btn-secondary border-0" for="btnradio2" routerLink="/users">{{ 'settings' | translate }}</label>
				</div>
			</div>		
			<div *ngIf="token !== ''" class="pe-3">
				<div class="form-check form-switch px-0">
					<label class="toggle tt1 t1">
				  		<input maxlength="4" type="checkbox" (ngModelChange)="changed=true" id="check" name="check" [(ngModel)]="but">
						<span class="slider"></span>
						<span class="labels t1" [attr.data-on]="'sensors.enable' | translate" [attr.data-off]="'sensors.disable' | translate"></span>
					</label>
				</div>
			</div>	
			<div class="d-none d-xxl-inline pe-3 d-flex">
				<div class="d-flex justify-content-end">
					<div>
						<img src="../../assets/logo.png" width="350px">
					</div>
					<div>
						<p style="font-family:'Gill Sans MT';font-size: 2vh; color: rgb(99, 99, 99);" class="ms-2 m-0">{{AppVersion}}</p>
					</div>
				</div>
			</div>
			<div class="pe-3">
				<select (change)="changeLanguage()" class="form-select" aria-label="Default select example" id="sel_type" [(ngModel)]="activeLang">
					<ng-container *ngFor="let quote of this.lengLang; let i = index">
						<option value='{{quote}}' [ngClass]="{'selected': activeLang == quote}" >{{this.lengName[i]}}</option>
					</ng-container>
				</select>
			</div>	
			<div *ngIf="token!=''" class="pe-3">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						<span *ngIf="username.includes('@'); else fullEmail">{{ username.substring(0, username.indexOf('@')) }}</span>
						<ng-template #fullEmail>{{ username }}</ng-template>	
					</button>
					<ul class="dropdown-menu cursor-pointer" aria-labelledby="dropdownMenuButton" style="z-index: 1000000">
					  <li><a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal3">{{ 'edit.profile' | translate }}</a></li>
					  <li><a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal2">{{ 'edit.change' | translate }}</a></li>
					  <li><a class="dropdown-item cursor-pointer" (click)="logOut()">{{ 'log.out' | translate }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" #confirmDeleteModal2 id="confirmDeleteModal2" tabindex="-1" aria-labelledby="confirmDeleteModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-0">
            <div class="modal-header" style="border-bottom: 0px">
				<h2 class="mb-0">{{ 'edit.change' | translate }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0">
			<form #form="ngForm" class="row needs-validation p-3 pt-1">
				<div class="col-12">
					<div class="row" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
		
						<input (ngModelChange)="change1=true" value="{{ formapassword.id }}" [(ngModel)]="formapassword['id']" maxlength="45" type="text" id="type" class="form-control d-none" name="type">

						<div class="col-12 pt-2 form-group">
							<label for="type">{{ 'login.pass' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.password }}" [(ngModel)]="formapassword['password']" maxlength="45" type="password" id="pas" class="form-control" name="type" required>
							<div *ngIf="form.submitted && form.controls['type'].errors" class="text-danger">
								<div *ngIf="form.controls['type'].errors['required']">{{ 'sensors.type' | translate }} {{ 'required' | translate }}</div>
							</div>
						</div>
	
						<div class="col-12 mt-4">
							<label for="metric">{{ 'login.pass2' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.newpassword1 }}" [(ngModel)]="formapassword['newpassword1']" maxlength="45"  type="password" id="metric" class="form-control" name="metric" required>
							<div *ngIf="form.submitted && form.controls['metric'].errors" class="text-danger">
								<div *ngIf="form.controls['metric'].errors['required']">{{ 'sensors.metric' | translate }} {{ 'required' | translate }}</div>
							</div>
						</div>

						<div class="col-12 mt-">
							<label for="metric">{{ 'login.pass2' | translate }}</label>
							<input (ngModelChange)="change1=true" value="{{ formapassword.newpassword2 }}" [(ngModel)]="formapassword['newpassword2']" maxlength="45"  type="password" id="metric" class="form-control" name="metric" required>
							<div *ngIf="form.submitted && form.controls['metric'].errors" class="text-danger">
								<div *ngIf="form.controls['metric'].errors['required']">{{ 'sensors.metric' | translate }} {{ 'required' | translate }}</div>
							</div>
						</div>
	
					</div>
				</div>

				<div class="col-12 mt-3 pt-3">
					<div class="row" >
						<div class="col-6">
							<button type="button navb" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary text-light navb"  style="width: 100%">{{ 'sensors.exit' | translate }}</button>
						</div>
						<div class="col-6">
							<button (click)="changePassword(form)" ng-click="ocultar = true" type="button navb submit" class="btn btn-info navb me-3" style="width: 100%">{{ 'sensors.save' | translate }}</button>
						</div>
					</div>
				</div>
			</form>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" #confirmDeleteModal3 id="confirmDeleteModal3" tabindex="-1" aria-labelledby="confirmDeleteModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-0">
            <div class="modal-header" style="border-bottom: 0px">
				<h2 class="mb-0">{{ 'edit.profile' | translate }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0">
			<form #form="ngForm" class="row needs-validation p-3 pt-1">
				<div class="col-12">
					<div class="row" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
		
						<input (ngModelChange)="change1=true" value="{{ formuserdata.id }}" [(ngModel)]="formuserdata['id']" maxlength="45" type="text" id="type" class="form-control d-none" name="type">

						<div class="col-12 pt-2 form-group">
							<label for="type">{{ 'login.user' | translate }}</label>
							<input (ngModelChange)="change2=true" value="{{ formuserdata.email }}" [(ngModel)]="formuserdata['email']" maxlength="45" type="email" id="type" class="form-control" name="type" required>
							<div *ngIf="form.submitted && form.controls['type'].errors" class="text-danger">
								<div *ngIf="form.controls['type'].errors['required']">{{ 'sensors.type' | translate }} {{ 'required' | translate }}</div>
							</div>
						</div>
	
					</div>
				</div>
	
				<div class="col-12 mt-3 pt-3">
					<div class="row" >
						<div class="col-6">
							<button type="button navb" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary text-light navb"  style="width: 100%">{{ 'sensors.exit' | translate }}</button>
						</div>
						<div class="col-6">
							<button (click)="changeEmail(form)" ng-click="ocultar = true" type="button navb submit" class="btn btn-info navb me-3" style="width: 100%">{{ 'sensors.save' | translate }}</button>
						</div>
					</div>
				</div>
			</form>
          </div>
        </div>
    </div>
</div>

<div *ngIf="alertEmailOk" class="top-0 end-0 p-3">
	<div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a1' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertEmailNot" class="top-0 end-0 p-3">
	<div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a2' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertPassOk" class="top-0 end-0 p-3">
	<div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a3' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>

<div *ngIf="alertPassNot" class="top-0 end-0 p-3">
	<div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body">
				{{ 'user.a4' | translate }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>