<app-navbar></app-navbar>

<div class="m-0 p-0 row d-flex" style="justify-content: space-evenly">
    <div class="cc2 cont mx-0 c100">

		<div class="form-check form-switch mt-5">
			<label class="toggle tt1 t1">
		  <input maxlength="4" type="checkbox" (ngModelChange)="toggleBackend(!backendStatus)" id="check" name="check" [(ngModel)]="backendStatus">
				<span class="slider"></span>
				<span class="labels t1" [attr.data-on]="'sensors.enable' | translate" [attr.data-off]="'sensors.disable' | translate"></span>
			</label>
		</div>

    </div>
</div>