<app-navbar></app-navbar>

<div class="m-0 p-0 row d-flex" style="justify-content: space-evenly">
    <div class="cc2 cont mx-0 c100">

		<div class="form-check form-switch mt-5">
			<div class="btn-group" role="group" aria-label="Toggle backend">
				<button type="button" class="btn btn-success" [ngClass]="{ 'active': backendStatus }" (click)="toggleBackend(1)">
				  {{ 'sensors.enable' | translate }}
				</button>

				<button type="button" class="btn btn-danger" [ngClass]="{ 'active': !backendStatus }" (click)="toggleBackend(0)">
				  {{ 'sensors.disable' | translate }}
				</button>
			  </div>			  
		</div>

    </div>
</div>